body{
    
    background-color: black;
}
.gallery{
    text-align: center;
    color: white;
    margin-top: 3
    0px;
}
.gallery-heading{
    font-size: 60px;
    cursor: pointer;
}
.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;
}
.category{
    cursor: pointer;
    border: 1px;
    width: 80px;
    height: 27px;
    border-radius: 20px;
}
.category.active{
    background-color:linen;
}
.category:hover{
    background-color:darkseagreen;
}
.image-section{
    margin-top: 40px;
    height: auto;
    width: 90%;
    align-content: center;
    margin-left: 67px;
    
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding: 20px;
}